__pycache__
cmd.hist
usrname
dominus_cli/tests/
dominus_cli/.appNamespace
tests/
aliases.json
theme.json
.DS_Store
/test.py



# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*